.hidden {
  display: none;
}

.container {
  text-align: center;
}

#play-room.death {
  background: url('/img/death.gif');
  background-position: -180px -50px;

}

#play-room.sleeping {
  background: url('/img/BG-night.gif');
}

#play-room {
  background-color: gray;
  background: url('/img/BG.gif');
  margin: 0 auto;
  height: 400px;
  width: 400px;
  background-position: -165px;
}

img {
  position: relative;
  top: 180px;
  width: 55%;
}

img.adult {

}
